* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*fontes*/
  font-family: "Caveat", cursive;
  font-family: "Lemonada", cursive;
}

/*o padrão fica 10px*/
html {
  font-size: 62.5%;
}

/*usar cor como variável*/
:root {
  --darkBlue: #1b3c59;
  --gray: #b0bfb5;
  --lightPink: #f2d5bb;
  --salmon: #f2a999;
  --pink: #f28177;
}

/*cor do body*/
body {
  background-color: var(--darkBlue);
}

/*estilizando o form*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3rem auto;
  max-width: 90%;
}

#headerFormulario{
 position: relative;
 margin-left: 90%;

}

::placeholder {
  /* coloquei uma opacidade pra ficar mais discreto */
  color: #f2a999b0;
  /* color: var(--salmon); */
}

/* FAVOR ESPECIFICAR QUAL IMG IRÁ SER ESTILAZADA PARA NÃO MODIFICAR OS OUTROS ELEMENTOS */
/* REMOVI O IMG DOS SELECIONADO ABAIXO - Peter*/
input,
select {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem;
  font-size: 1.5rem;
  background-color: var(--darkBlue);
  color: var(--salmon);
  border: none;
  border-bottom: 0.1rem solid var(--lightPink);
  outline: none;
}

/* ACRESCENTEI EM 05/09 - DÃMARES */
textarea {
  background-color: var(--darkBlue);
  width: 100%;
  margin: 1rem 0;
  font-size: 1.5rem;
  background-color: var(--darkBlue);
  color: var(--salmon);
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid var(--lightPink);
  outline: none;
  resize: none;
}

/* ACRESCENTEI EM 08/09 - FELIPE */

.memorize {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0 3rem;
}

.memorize input {
  width: 10%;
  transform: scale(1.5);
}

/* FIM - ACRESCENTEI EM 08/09 - FELIPE */

/* ACRESCENTEI EM 05/09 - DÃMARES */
input:hover,
textarea:hover {
  background-color: #3d5870; /* cor não é darkblue */
}

/* ACRESCENTEI EM 07/09 - DÃMARES */
/* div do contador de caracteres */
#numCaracteres {
  color: white;
  font-size: 1.3rem;
  text-align: right;
  margin-bottom: 1.5rem;
}

label,
h3 {
  font-size: 1.7rem; /* diminui o tamanho que era de 2rem - DÃMARES */
  color: var(--lightPink);
}

a{
  font-size: 1rem;
  text-decoration: none;
  color: var(--darkBlue);
}

/* ACRESCENTEI - FELIPE - 07/09 */
#calendar {
  background: url("../img/calendar.svg") no-repeat center right;
  background-size: 3rem;
} /* FIM ACRESCENTEI - FELIPE - 07/09 */

/* AREA DO PERFIL DA VIAGEM */
/* TODO: DECIDIR O TAMANHO DA IMG */
.preview {
  width: 100%;
  margin: 1rem 0;

}

#userImg {
  border: solid 0.2rem var(--lightPink);
  width: 100%;
 
  /* object-fit: cover;  */
  /* overflow: hidden;  */
}

/* ACRESCENTEI EM 05/09 - DÃMARES */
/* botões */
#botaoEnviar,
#botaoCancelar{
  width: 8rem;
  padding: 0.8rem;
  margin: 0.3rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: var(--salmon);
  color: var(--darkBlue);
}

#botaoEnviar:hover,
#botaoCancelar:hover {
  background-color: var(--lightPink);
}

.btn {
  text-align: center;
}

/* botão de deletar card - Dâmares 10/09 */
#btnCard{
  width: 40px;
  position: relative;
  margin-left: 88%;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #f8e2cf;
  color: var(--darkBlue);
}
#btnCard:hover{
  background-color: var(--salmon);
}


/* Cards */
/* Dâmares 07/09 */
section#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightPink);
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: #f7e9dd;
  width: 85%;
  height: 45rem;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}
.tituloCard {
  text-align: center;
}
.paragCard {
  max-width: 30rem;
  padding-top: 1.5rem;
}

/* BREAKPOINTS */
/* Dâmares 07/09 */

/* tablets e larger smartphones */
@media screen and (min-width: 481px) {
  main {
    display: flex;
    flex-direction: row;
  }
  #sectionForm {
    width: 45%;
  }
  section#cards {
    justify-content: center;
    background-color: var(--lightPink);
    width: 55%;
  }
  .cards {
    width: 85%;
  }
}

/* larger tablets in landscape e notebooks */
@media screen and (min-width: 769px) {
  #sectionForm {
    width: 40%;
  }
  section#cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
  .cards {
    width: 30rem;
    height: 41rem;
  }
}

/* Larger desktops and monitors */
@media screen and (min-width: 1280px) {
  #sectionForm {
    width: 30%;
  }
  section#cards {
    justify-content: center;
    align-items: flex-start;
    width: 70%;
  }
  .cards {
    width: 35rem;
    height: 45rem;
  }

  a{
    font-size: 1.7rem;
  }
}
