* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*fontes*/
  font-family: "Caveat", cursive;
  font-family: "Lemonada", cursive;
}

/*o padrão fica 10px*/
html {
  font-size: 62.5%;
}

/*usar cor como variável*/
:root {
  --darkBlue: #1b3c59;
  --gray: #b0bfb5;
  --lightPink: #f2d5bb;
  --salmon: #f2a999;
  --pink: #f28177;
}

/*estilizando o form*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3rem auto;
  max-width: 90%;
}

/*cor do body*/
body {
  background-color: var(--darkBlue);
}

::placeholder {
  /* coloquei uma opacidade pra ficar mais discreto */
  color: #f2a999b0;
  /* color: var(--salmon); */
}

/* FAVOR ESPECIFICAR QUAL IMG IRÁ SER ESTILAZADA PARA NÃO MODIFICAR OS OUTROS ELEMENTOS */
/* REMOVI O IMG DOS SELECIONADO ABAIXO - Peter*/
input,
select {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem;
  font-size: 1.5rem;
  background-color: var(--darkBlue);
  color: var(--salmon);
  /* DAQUI P/ BAIXO ACRESCENTEI EM 05/09 - DÃMARES */
  border: none;
  border-bottom: 1px solid var(--lightPink);
  outline: none;
}

/* ACRESCENTEI EM 05/09 - DÃMARES */
textarea{
  background-color: var(--darkBlue);
  width: 100%;
  margin: 1rem 0;
  font-size: 1.5rem;
  background-color: var(--darkBlue);
  color: var(--salmon);
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--lightPink);
  outline: none; 
  resize: none;
}

/* ACRESCENTEI EM 05/09 - DÃMARES */
input:hover,
textarea:hover {
  background-color: #3d5870; /* cor não é darkblue */
}

/* ACRESCENTEI EM 07/09 - DÃMARES */
/* div do contador de caracteres */
#numCaracteres{
  color: white;
  font-size: 1.3rem;
  text-align: right;
  margin-bottom: 15px;
}


label,
h3 {
  font-size: 1.7rem; /* diminui o tamanho que era de 2rem - DÃMARES */
  color: var(--lightPink);
}

/* AREA DO PERFIL DA VIAGEM */
/* TODO: DECIDIR O TAMANHO DA IMG */
.preview {
  border: solid 2px var(--lightPink);
  width: 100%;
  height: 300px;
  /* desabilitei essa configuração abaixo em px pq estava fazendo a div ficar fora de enquadramento
    na página e coloquei em porcentagem - Dâmares 05/09 */
  /* width: 500px;*/
}

#userImg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* overflow: hidden; */
}

/* ACRESCENTEI EM 05/09 - DÃMARES */
/* botões */
button {
  width: 80px;
  padding: 8px;
  margin: 3px;
  border-style: none;
  border-radius: 5px;
  background-color: var(--salmon);
  color: var(--darkBlue);
}

button:hover {
  background-color: var(--lightPink);
}

.btn {
  text-align: center;
}


/* Cards */
/* Dâmares 07/09 */
section#cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightPink);
}

.cards{
  display: flex;
  flex-direction: column;
  background-color: #f7e9dd;
  width: 85%;
  height: 450px;
  margin: 10px;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1) ;
}
.tituloCard{
  text-align: center;
}
.paragCard{
  max-width: 300px;
  padding-top: 15px;
} 



/* BREAKPOINTS */
/* Dâmares 07/09 */

/* tablets e larger smartphones */
@media screen and (min-width: 481px) {
  main {
    display: flex;
    flex-direction: row;
  }
  #sectionForm {
    width: 45%;
  }
  section#cards{
    justify-content: center;
    background-color: var(--lightPink);
    width: 55%;
  }
  .cards{
    width: 85%;
  }
} 


/* larger tablets in landscape e notebooks */
@media screen and (min-width: 769px) {
  #sectionForm {
    width: 40%;
  }
  section#cards{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
  .cards{
    width: 300px;
    height: 410px;
  }
}


/* Larger desktops and monitors */
@media screen and (min-width: 1280px) {
  #sectionForm {
    width: 30%;
  }
  section#cards{
    justify-content: center;
    align-items: flex-start;
    width: 70%;
  }
  .cards{
    width: 350px;
    height: 450px;
  }
}